@charset "UTF-8";

* {
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #C9C9C9, #696969);
} 

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4b4b4b;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #d4ca3e;
    text-align: center;
    text-shadow:1px 1px 2px #4b4b4bb9;
}

h2 {
    color: #3eb595;
}

p {
    text-align: justify;
}